# developer files
!.gitkeep
node_modules
coverage
tmp
.DS_Store
.idea
*iml
.nyc*
*~
src/app/cache


# resource helper files
*map
library/plugin_status


# compiled/distribution
dist

# published files uploaded to the chrome/firefox store
archive
