/** Styles for extension **/

div.fair-reset {
    all: unset !important;
    z-index: 10;
}
div.fair-outer {
    box-sizing: border-box;
    clear: both;
    display: block;
    /** set z very high to make appear always on top; some sites use 1000s **/
    z-index: 100000;
    cursor: auto !important;
}

div.fair-outer .fair-handle {
  cursor: move !important;
}

div.fair-outer .fair-col-8, div.fair-outer .fair-col-2, div.fair-outer .fair-col-3, div.fair-outer .fair-col-6, div.fair-outer .fair-col-10, div.fair-outer .fair-col-12 {
    position: relative;
    display: block;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
}
div.fair-outer .fair-col-12, div.fair-row .fair-col-12 {
    width: 100%;
}
div.fair-outer .fair-col-10, div.fair-row .fair-col-10 {
    width: 80.0%;
}
div.fair-outer .fair-col-8, div.fair-row .fair-col-8 {
    width: 60.0%;
}
div.fair-outer .fair-col-9, div.fair-row .fair-col-9 {
    width: 68.4%;
}
div.fair-outer .fair-col-2, div.fair-row .fair-col-2 {
    width: 16.6%;
}
div.fair-outer .fair-col-1, div.fair-row .fair-col-1 {
    width: 8.4%;
}
div.fair-outer .fair-col-3, div.fair-row .fair-col-3 {
    width: 25%;
}
div.fair-outer .fair-col-6, div.fair-row .fair-col-6 {
    width: 50%;
}
div.fair-clear {
    clear: both;
}
div.fair-row {
    display: flex;
    clear: both;
    width: 100%;
    height: auto;
    overflow: auto;
    margin-left: 0px !important;
    margin-right: 0px;
}
.fair-row .fair-col-2, .fair-row .fair-col-8, .fair-row .fair-col-10 {
    margin: auto;
    overflow: auto;
}
#fair-library div.fair-info .fair-col-right {
    float: right;
}
.fair-row, .fair-contain er, span {
    box-sizing: border-box;
}
.fair-row, .fair-container {
    clear: both;
}
.fair-container {
    padding-right: 16px;
    padding-left: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.fair-pointer {
    cursor: pointer;
}
ul.fair-list {
    padding-left: 0.8em;
    padding-right: 0.8em;
    list-style-type: none;
    list-style-image: none;
    margin: 0px;
    overflow-y: auto;
}
ul.fair-list li {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.fair-click {
    cursor: pointer;
}
.fair-container, .fair-container h1, .fair-container h2, .fair-container h3, .fair-container h4, .fair-container div {
    box-sizing: border-box;
    line-height: 1.1em;
}


/** Generic positioning **/
.fair-center-center {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}
.fair-center-v {
    /** display: flex; **/
    vertical-align: middle;
}
.fair-fullwidth {
    width: 100%;
    margin: 0 auto;
}
.fair-container .fair-text-center {
    text-align: center;
}
.fair-fill-v {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.fair-container svg {
    box-sizing: border-box;
}


/** Global-to-fair-container **/
.fair-container {
    line-height: 1.5em;
    color: #363636;
    background-color: #ffffff;
    font-size: 16px !important;
    font-family: sans-serif !important;
}
.fair-container * {
    font-family: sans-serif !important;
    text-transform: none;
    letter-spacing: normal;
}
.fair-container h1, .fair-container h2, .fair-container h3, .fair-container h4, .fair-container h5 {
    font-family: sans-serif !important;
    text-transform: none;
    text-align: left;
    margin-top: 1.5em;
    margin-bottom: 0.4em;
    color: #000000;
    padding: 0px;
}
.fair-container .fair-result h1, .fair-container .fair-result h2, .fair-container .fair-result h3 {
    font-weight: 400;
}
.fair-container div, .fair-container span {
    font-family: sans-serif !important;
}
.fair-container a {
    color: #0366d6;
    cursor: pointer;
}


/** children of fair component **/
.fair-container img, .fair-container h1, .fair-container h2, .fair-container h3, .fair-container h4, .fair-container div, .fair-container span {
    border: none;
    margin-left: 0px;
    margin-right: 0px;
}
.fair-container h1 {
    font-size: 18px;
    font-weight: 600;
}
.fair-container h2 {
    font-size: 16px;
}
.fair-container h3, .fair-container h4 {
    font-size: 16px;
}
.fair-container img {
    max-width: unset;
}





/** Options page **/
div.fair-options {
    max-width: 664px;
    padding-bottom: 120px;
}
div.fair-options h1.fair-options {
    font-size: 2em;
}
div.fair-options h2 {
    font-size: 1.6em;
}
div.fair-options code {
    background-color: #e8e8e8;
    color: #000000;
    padding: 4px 6px 4px 6px;
    border-radius: 4px;
    border: solid 1px #d0d0d0;
}
div.fair-options div.fair-reset-button {
    background-color: #333333;
    border: solid 1px #000000;
    border-radius: 2px;
    color: #ffffff;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.1s;
}
div.fair-options div.fair-reset-button:hover {
    background-color: #111111;
    color: #f4f4f4;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.15),0 6px 12px 0 rgba(0,0,0,0.15);
}
div.fair-options div.fair-reset-button:active {
    background-color: #f0f0f0;
    color: #222222;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.15),0 6px 12px 0 rgba(0,0,0,0.15);
}
#fair-library ul, #fair-library li {
    clear: both;
    height: auto;
    overflow: auto;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
#fair-library li {
    border-top: solid 1px #f0f0f0;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}
#fair-library p {
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
}
#fair-library {
    margin-top: 1em;
    margin-bottom: 1em;
}
#fair-library h3 {
    margin-top: 0px;
    margin-bottom: 0.1em;
}
#fair-library h4 {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    font-weight: 200;
    color: #888888;
}
#fair-library .fair-info {
    clear: both;
    display: block;
    float: unset;
    overflow: visible;
}
#fair-library .fair-info-detail {
    margin-top: 1.5em;
}
#fair-library .fair-badge {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 4px;
    padding: 4px 8px 4px 8px;
    border-radius: 3px;
    background-color: #22b5bb;
    border-color: #333333;
    color: #ffffff;
}
.fair-rating {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.fair-rating svg {
    width: 28px;
    height: 28px;
}
.fair-rating svg path {
    fill: #22b5bb;
}
div.fair-options img.fair-logo {
    max-height: 60px;
    max-width: 100%;
}

/** library grid **/
#fair-library-grid .fair-library-grid-element {
    display: inline-block;
    max-width: 13%;
    width: 13%;
    text-align: center;
    margin: 4px;
}
#fair-library-grid img {
    max-width: 100%;
    max-height: 45px;
}


/**
 * Styles for on/off switch - copied from https://www.w3schools.com/howto/howto_css_switch.asp
 **/
/* The switch - the box around the slider */
.fair-container .switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 22px;
}
/* The slider */
.fair-container .slider {
    position: absolute;
    pointer-events: none;  /** my addition **/
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
}
.fair-container .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}
.fair-container input {
    width: 100%;
    height: 100%;
    margin: 0px;
    cursor: pointer;
}
.fair-container input:checked + .slider {
    background-color: #22b5bb;
}
.fair-container input:focus + .slider {
    box-shadow: 0 0 1px #22b5bb;
}
.fair-container input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}
/* Rounded sliders */
.fair-container .slider.round {
    border-radius: 24px;
}
.fair-container .slider.round:before {
    border-radius: 50%;
}
/** End of styles for on/off switch **/



/** Coloring of dark-background elements **/
div.fair-header, div.fair-result-toolbar {
    background-color: #22b5bb;
    color: #fdfdfd;
}



/** For injected components on user's pages **/
span.fair-button {
    margin-left: 0.2em;
}
div.fair-outer {
    position: absolute;
    width: 480px;
    height: 520px;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0px 10px 20px 14px #cccccc88;
    padding: 0px;
}

div.fair-inner {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

div.fair-header-body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/** Header **/
div.fair-header {
    white-space: nowrap;
    padding: 0.3em;
    padding-bottom: 0.6em;
    height: 48px;
}
div.fair-button-panel {
    /* position: relative;
    float: right; */
    position: absolute;
    right: 0;
    padding: 0.6em;
}
div.fair-button-panel svg {
    margin-left: 6px;
    width: 10px;
    cursor: pointer;
}
/** Coloring for icons **/
div.fair-button-panel svg path {
    fill: #fafafa;
}

div.fair-header input[type="text"] {
    border: 0px;
    display: inline-block;
    background-color: inherit;
    box-shadow: none;
    color: inherit;
    margin-left: 4px;
    margin-bottom: 0px;
    width: 74%;
    height: 1.3em;
    line-height: 1em;
    font-size: 22px;
    float: none;
    padding: 2px 6px 2px 6px;
}
div.fair-header input[type="text"]:focus {
    outline: none;
    border: 0px;
    border-bottom: solid 2px;
    margin-bottom: -2px;
    box-shadow: none;
}
div.fair-header span.fair-icon {
    width: 40px;
    display: inline-block;
}
ul.fair-list li.fair-candidate, li.fair-candidate {
    margin-bottom: 0.4em;
    margin-top: 0.4em;
    list-style-type: none;
    list-style-image: none;
    cursor: pointer;
    clear: both;
}
div.fair-container li.fair-candidate h3, div.fair-container li.fair-candidate h4 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
div.fair-body li.fair-candidate h3 {
    font-size: larger;
}
li.fair-candidate div.fair-row {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
li.fair-candidate {
    max-height: 5em;
}

.fair-candidate-list {
  height: auto;
}

/** Output **/
div.fair-body {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
div.fair-body ul {
    border: none;
    background-color: #ffffff;
}
div.fair-body div.fair-logo-col {
    overflow: hidden;
    text-align: center;
}
div.fair-body .fair-logo {
    overflow: hidden;
    max-width: 80px;
}
div.fair-body .fair-logo svg {
    max-width: 80px;
}
div.fair-body .fair-logo img {
    max-height: 45px;
    max-width: 75px;
}
div.fair-body .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
}
div.fair-body li.fair-candidate h3 {
    margin-top: 0.3em;
    margin-bottom: 0.2em;
    font-weight: 600;
    font-size: 16px;
}
div.fair-body li.fair-candidate h4 {
    margin-top: 0.2em;
    margin-bottom: 0.3em;
    font-weight: 200;
    color: #999999;
}
span.fair-anchor {
    cursor: pointer;
}


/** Toolbar at the bottom **/
div.fair-result-toolbar {
    height: 48px;
    position: absolute;
    bottom: 0;
    background-color: #22b5bb;
    vertical-align: middle;
    overflow: hidden;
}
div.fair-result-toolbar .fair-result-toolbar-button {
    text-align: center;
}
div.fair-result-toolbar .fair-icon {
    display: inline-block;
    padding-top: 12px;
    cursor: pointer;
}
div.fair-result-toolbar span {
    border-top: 4px solid #22b5bb;
}
div.fair-result-toolbar .fair-toolbar-selection span {
    border-top: 4px solid #ffffff;
}
div.fair-result-toolbar .fair-icon svg {
    margin-top: -4px;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    height: 24px;
    width: 40px;
    cursor: pointer;
}


/** Output **/
div.fair-result {
    margin-top: 0.8em;
    margin-bottom: 48px;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    height: 100%;
    border-top: solid 1px #999999;
    width: 100%;
    min-width: 100%;
    overflow-y: scroll;
}
div.fair-result div.fair-cb {
    display: block;
    clear: both !important;
    width: 100%;
    min-width: 100%;
}
div.fair-result .fair-section {
    clear: both;
    min-width: 100%;
    width: 100%;
}
div.fair-result .fair-section svg {
    width: 100%;
    max-width: 100%;
}
div.fair-result p {
    line-height: 1em;
}
div.fair-result ul {
    padding-left: 0px;
    border: none;
}
div.fair-result li {
    color: #777777;
    list-style-type: none;
}
div.fair-result div.fair-subsection {
    padding-bottom: 1.2em;
    padding-top: 0.5em;
}
div.fair-result table {
    padding: 0.2em 0em 0.2em 0em;
    margin: 0;
    line-height: 1.1em;
    border: none;
}
div.fair-result table, div.fair-result thead, div.fair-result tbody {
    border: none;
}
div.fair-result table td, div.fair-result table th {
    border: none;
    font-size: 1em;
    padding: 0.5em 1em 0em 0em;
    vertical-align: top;
    background-color: #ffffff;
    color: #777777;
}
div.fair-result table tr {
    border: none;
}
div.fair-result table img, div.fair-result table svg {
    max-width: 110%;
}
.fair-icon {
    margin-left: auto;
    margin-right: auto;
}
div.fair-outer svg {
    display: inline;
}
.fair-header .fair-icon svg {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    max-width: 36px;
    max-height: 26px;
}
.fair-header .fair-icon svg {
    padding-top: 0.3em;
    padding-bottom: 0px;
    width: 34px;
}
.fair-candidate .fair-icon svg {
    width: 20px;
    height: 20px;
}
.fair-header .fair-icon svg path, .fair-result-toolbar .fair-icon svg path {
    fill: #fafafa;
}




/** possible classes for use within plugins **/
div.fair-result .disclaimer, #fair-library .disclaimer {
    color: #882222;
    background-color: #ffdddd;
    border: #882222;
    border-radius: 5px;
    padding: 0.6em;
    margin: 1em 0em 1.5em 0em;
}
div.fair-result p.examples, #fair-library p.examples {
    color: #222244;
    background-color: #f0f0ff;
    border: #222244;
    border-radius: 5px;
    padding: 0.6em;
    margin: 1em 0em 1.5em 0em;
}
